$base-duration: 500ms;

// Colors
$color-1: #2c3e50;
$color-2: #1abc9c;
$color-3: #2ecc71;

// Breakpoints
$sm: new-breakpoint(min-width 320px);
$med: new-breakpoint(min-width 768px);
$lg: new-breakpoint(min-width 1024px);

*,
*:before,
*:after {
	box-sizing: border-box;
	outline: none;
}



.sectionClinic {
	background-color: #FFF7D9;
	position: relative;
	 display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
	flex-wrap: wrap;

}

figure {
	margin: 15px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 300px;
	min-width: 250px;
	height: 450px;
	border-radius: 10px;
	box-shadow: 
		0 1px 3px rgba(0,0,0,0.12), 
		0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	overflow: hidden;
	&:hover {
		box-shadow: 
			0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
		h1 {
			opacity: 0;
			transform: scale(0.7);
		}
		img {
			transform: scale(1.25);
		}
		figcaption {
			bottom: 0;
		}
	}
	h1 {
		position: absolute;
		top: 50px;
		left: 20px;
		margin: 0;
		padding: 0;
		color: white;
		font-size: 20px;
		font-weight: 100;
		line-height: 1;
		opacity: 1;
		transform: scale(1);
		transition: 0.25s ease;
		z-index: 999;
	}
	img {
		height: 100%;
		transition: 0.25s;
	}
	.fig1 {
		position: absolute;
		// bottom: -40%;
		left: 0;
		width: 100%;
		margin: 0;
		padding: 30px;
		background-color: rgba(#A8946C,0.85);
		box-shadow: 0 0 20px rgba(black,0.4);
		color: white;
		line-height: 1;
		transition: 0.25s;
		h4 {
			margin: 0 0 20px;
			padding: 0;
		}
		p {
			font-size: 14px;
			line-height: 1.75;
		}
		button {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 10px 0 0;
			padding: 10px 30px;
			background-color: $color-2;
			border: none;
			border-radius: 5px;
			color: white;
			font-size: 14px;
			cursor: pointer;
		}
		
	}
	.figA{
		bottom: -40%;
	}
	.figB{
		bottom: -44%;
	}
	.figC{
		bottom: -50%;
	}
	
	
	
}
// --------------container
.containerClinic{
		padding-top: 80px;
		padding-bottom: 100px !important;
	background-color: #fff5e381;
	position: relative;
	 
	align-items: center;
	justify-content: center;
	width: 100vw !important;
	height: auto;
	max-width: 100vw;
	color: #575757;
}

@media only screen and (max-width: 960px){
	.containerClinic {
		padding-top: 70px !important;
		padding-bottom: 90px !important;
	}
}



.containerWelcome{

background-color: #ffffff;
position: relative;
 padding-bottom: 5px;
align-items: center;
justify-content: center;
width: 100vw !important;
// height: auto;
max-width: 100vw;
padding-bottom: 5% !important;
padding-top: 5% !important;

background-image: url(../assets/iconOpacity.jpg);

background-attachment: fixed;
background-repeat: no-repeat;
background-position: center;
}

.buttonCourses a{
	text-decoration: none;
	color: antiquewhite;
}
.buttonCourses a:hover{
	color: #7E634E;
}
.buttonCourses:hover{
	color: #7E634E;
}
.tituloP{
	color: #575757;
	letter-spacing: 1px;
	
}
.tituloP strong{
	font-weight: normal;
    color: #7e634e;
}
.tituloPB{
	font-family: 'MontSerrat UltraLight', Arial, Sans-Serif;
    font-size: 45px;
    line-height: 45px;
	color: #cdb88e;
}
.tituloPB h2{
	font-family: 'MontSerrat UltraLight', Arial, Sans-Serif;
    font-size: 45px;
    line-height: 45px;
	color: #cdb88e;
	
}


.textWelcome{
	width: 70%;
	justify-content: center;

}
.containerClinicBanner{
	padding: 100px ;
background-color: #CCB892;
position: relative;
 
align-items: center;
justify-content: center;
width: 100vw !important;
height: auto;
max-width:100%;

}

 




.divider {
	width: 20%;
	border: none;
	height: 2px;
background-color: #575757;
	margin: 2rem auto;
  }

.swiper-slide{
	margin-right: 20px !important;
	width: 330px !important;
}

.swiper-button-next{
	color: #646464 !important;
}
.swiper-button-prev{
	color: #646464 !important;
}
.pSlider{
	color:   #CCB892;
	text-transform: uppercase;
	
}
.pSlider2{
	color:  #7E634E;
	text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
	
	
	.tituloPB1{
		padding-top: 50px ;
	}
	
}