$accent-color: #355cc9;



.bodyC {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	
}

.wrapperC {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: auto;

}

.cardCuorses {
	width: 420px;
	height: 340px;
	margin: 1em;
	perspective: 1500px;
	.content {
		position: relative;
		width: 100%;
		height: 100%;
		transform-style: preserve-3d;
		transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
	}
}

.more {
	display: none;

	&:checked ~ .content {
		transform: rotateY(180deg);
	}
}

.front,
.back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	border-radius: 6px;

	.inner {
		height: 100%;
		display: grid;
		padding: 0.5em;
		transform: translateZ(80px) scale(0.94);
	}
}

.front {
	background-color: #fff;
	background-size: cover;
	background-position: center center;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		border-radius: 6px;
		backface-visibility: hidden;
		background: linear-gradient(
			40deg,
			#f6dbc511,
			#a8946ca2
		);
	}
	.inner {
		grid-template-rows: 5fr 1fr 1fr 2fr 1fr;
		justify-items: center;
	}

	h2 {
		grid-row: 2;
		margin-bottom: 0.3em;
		text-transform: uppercase;
		letter-spacing: 3px;
		color: #fff;
		font-weight: 500;
		text-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
	}

	.rating {
		grid-row: 3;
		color: rgba(255, 255, 255, 0.8);
		font-size: 14px;
		display: flex;
		flex-flow: row nowrap;
		i {
			margin: 0 1px;
		}
	}
}

.back {
	transform: rotateY(180deg);
	background-color: #fff;
	border: 2px solid rgb(240, 240, 240);
	.inner {
		grid-template-rows: 1fr 2fr 1fr 2fr 14fr 1fr 1fr;
		grid-template-columns: repeat(4, auto);
		grid-column-gap: 0.8em;
		justify-items: center;
	}



	.description {
		grid-row: 5;
		grid-column: 1/-1;
		font-size: 0.86em;
		border-radius: 5px;
		font-weight: 600;
		line-height: 1.4em;
		overflow: auto;
		color: #575757;
		padding-right: 10px;
	}

	.location,
	.price {
		font-weight: 600;
		color: #575757;
		grid-row: 1;
		font-size: 0.86em;
	}

	.location {
		grid-column: 1/3;
		justify-self: left;
	}

	.price {
		grid-column: 3/-1;
		justify-self: right;
	}

	.button {
		grid-column: 1/-1;
		justify-self: center;
	}
}

.button {
	grid-row: -1;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	cursor: pointer;
	display: block;
	padding: 0 1.5em;
	height: 3em;
	line-height: 2.9em;
	min-width: 3em;
	background-color: transparent;
	border: solid 2px #fff;
	color: #fff;
	border-radius: 4px;
	text-align: center;
	left: 50%;
	backface-visibility: hidden;
	transition: 0.3s ease-in-out;
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);

	&:hover {
		background-color: #fff;
		box-shadow: 0 0 50px rgba(0, 0, 0, 0.281);
		text-shadow: none;
		color: #7E634E;
	}

	&.return {
		line-height: 3em;
		color: #7E634E;
		border-color: #7E634E;
		text-shadow: none;
		&:hover {
			background-color:#FFEFE3;
			color: #fff;
			box-shadow: none;
		}
	}
}
.subtCap{
	color:beige;
}
.tituloPC1 strong {
	color: #7E634E;
}
.tituloPC1 h4{
	color: #575757;
}


.front4{
background-image:url('https://img.freepik.com/foto-gratis/mujer-atractiva-recibiendo-procedimientos-belleza-facial-salon-spa_1098-18097.jpg?w=1380&t=st=1697413177~exp=1697413777~hmac=5cad5c1c659264ed09eaf61f8ba651505cfa232cb358a8a575cd152476744d6a') ;
}
.front3{
	background-image:url('https://img.freepik.com/foto-gratis/mujer-aplicando-mascarilla-facial-clienta_1122-1352.jpg?size=626&ext=jpg&uid=R122209150&ga=GA1.1.1597813839.1697641800&semt=ais') ;
	}
	.front2{
		background-image:url('https://img.freepik.com/foto-gratis/terapeuta-irreconocible-realizando-maderoterapia-piernas-mujer-tratamiento-masaje-spa_637285-2126.jpg?size=626&ext=jpg&uid=R122209150&ga=GA1.1.1597813839.1697641800&semt=ais') ;
		}
		.front1{
			background-image:url('https://img.freepik.com/foto-gratis/mujer-joven-atravesando-tratamiento-microblading_23-2149102666.jpg?size=626&ext=jpg&uid=R122209150&ga=GA1.1.1597813839.1697641800&semt=ais') ;
			}
			// <a href="https://www.freepik.es/foto-gratis/terapeuta-irreconocible-realizando-maderoterapia-piernas-mujer-tratamiento-masaje-spa_25630526.htm#query=mujer%20maderoterapia%20tratamiento&position=1&from_view=search&track=ais">Imagen de Drazen Zigic</a> en Freepik
.containerCourses{
	padding: 50px 50px 10px 50px ;
	
	position: relative;
	 
	align-items: center;
	justify-content: center;
	width: 100vw !important;
	height: auto;
	max-width: 100vw;
	color: #575757;
}
.containerCoursesBanner{
	padding: 100px ;
	background-color: #cab48b;
	position: relative;
	 
	align-items: center;
	justify-content: center;
	width: 100vw !important;
	height:auto;
	max-width:100%;
	display: flex;
	flex-direction: column;

	
}
.buttonCourses{
	display:inline-block;
}
.tituloPC{
	font-family: 'MontSerrat UltraLight', Arial, Sans-Serif;
    font-size: 45px;
    line-height: 45px;
	color: #7e634e;
}
.tituloPC1 h2{
	font-family: 'MontSerrat UltraLight', Arial, Sans-Serif;
    font-size: 30px ;
    line-height: 45px;
	color: #cdb88e;
}
.vivaCourses{
	color: #7E634E;
}

.ancore a{
	color: #7E634E;
	background-color: #CCB892;
	padding: 8px;
}
.ancore a:hover{
	color: #ffffff;
	background-color:#7E634E;
	transition: 0.5s;
	
}
.pSlider2{
	padding-top: 25px;
	padding-bottom: 10px;
}

// curse advanced-------------------------------------------------------

.cardPrice {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,0);
    flex: 1;
    // margin: 8px;
    padding: 30px ;
    position: relative;
    text-align: center;
    transition: all 0.5s ease-in-out;
    &.popular {
        margin-top: -10px;
        margin-bottom: -10px; 
        .card-title {
            h3 {
                color: #3498db;
                font-size: 22px;
            }
        }
        .card-price {
            margin: 50px;
            h1 {
                color: #3498db;
                font-size: 60px;
            }
        }
      
    }
    &:hover {
        box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    }
}


.card-title {
    h3 {
        color: rgba(0,0,0,0.3);
        font-size: 15px;
        text-transform: uppercase;
    }
    h4 {
        color: rgba(0,0,0,0.6);
    }
}
.card-price {
    margin: 30px 0;
    h4 {
        font-size: 46px;
        sup{
            font-size: 15px;
            display: inline-block;
            margin-left: -20px;
            width: 10px;
        }
        small {
            color: rgba(0,0,0,0.3);
            display: block;
            font-size: 11px;
            text-transform: uppercase;
        }
    }
}
.card-description {
    ul {
        display: block;
        list-style: none;
        margin: 30px 0;
        padding: 0;
    }
    li {
        color: rgba(0,0,0,0.6);
        font-size: 15px;
        margin: 0 0 15px;
        &::before {
            content: "\2714";
            padding: 0 5px 0 0;
            color: rgba(0,0,0,0.15);
        }
    }
}
div.container.containerG {
	
	padding-bottom: 5px !important;
}

// CARD1 COURSE ADVANCED---------------------------------

// .bodyCardA {
// 	background: #f1f1f1;
// 	display: flex;
// 	flex-direction:column;
// 	font-size: 1rem;
// 	justify-content: center;
// 	align-items: center;
// 	height: 100vh;
//   }
  
  $color_white: #fff;

  $color_grey: #e2e2e2;
 
  
  .blog-card {
	display: flex;
	flex-direction: column;
	margin: auto;
	box-shadow: 0 3px 7px -1px rgba(#000, .1);
	margin-bottom: 1.6%;
	background: $color_white;
	line-height: 1.4;
	// font-family: sans-serif;
	border-radius: 5px;
	overflow: hidden;
	z-index: 0;
	a {
	  color: inherit;
	  &:hover {
		color:whitesmoke;
	  }
	}

	.meta {
	  position: relative;
	  z-index: 0;
	  height: 200px;
	}
	.photo {
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  background-size: cover;
	  background-position: center;
	
	}
	.foto{
		width: 300px;
	}
	
	.descriptionCs {
	  padding: 1rem;
	  background: $color_white;
	  position: relative;
	  z-index: 1;
	  color: #575757;
	  
	
	  h2 {
		line-height: 1;
		margin: 0;
		color: #575757;
		
		font-size: 1.7rem;
	  }
	  h2 {
		font-size: 1rem;
		font-weight: 300;
		text-transform: uppercase;
		
		margin-top: 5px;
	  }
	  .titleCs{
		color: rgba(0, 0, 0, 0.639);
		font-size: 1.5rem;
	  }
	  .read-more {
		text-align: right;
		a {
		  color: whitesmoke;
		  display: inline-block;
		  position: relative;
		  &:after {
			content: "\f061";
			font-family: FontAwesome;
			margin-left: -10px;
			opacity: 0;
			vertical-align: middle;
			transition: margin .3s, opacity .3s;
		  }
  
		  &:hover:after {
			margin-left: 5px;
			opacity: 1;
		  }
		}
	  }
	}
	p {
	  position: relative;
	  margin: 1rem 0 0;
	//   &:first-of-type {
	// 	margin-top: 1.25rem;
	// 	&:before {
	// 	  content: "";
	// 	  position: absolute;
	// 	  height: 5px;
	// 	  background: $color_prime;
	// 	  width: 35px;
	// 	  top: -0.75rem;
	// 	  border-radius: 3px;
	// 	}
	//   }
	}
	// &:hover {
	//   .details {
	// 	left: 0%;
	//   }
	// }
  
  
	@media (min-width: 640px) {
	  flex-direction: row;
	  max-width: 700px;
	  .meta {
		flex-basis: 40%;
		height: auto;
	  }
	  .description {
		flex-basis: 60%;
		&:before {
		  transform: skewX(-3deg);
		  content: "";
		  background: #fff;
		  width: 30px;
		  position: absolute;
		  left: -10px;
		  top: 0;
		  bottom: 0;
		  z-index: -1;
		}
	  }
	  &.alt {
		flex-direction: row-reverse;
		.description {
		  &:before {
			left: inherit;
			right: -10px;
			transform: skew(3deg)
		  }
		}
		.details {
		  padding-left: 25px;
		}
	  }
	}
  }