

  .cardCsback{
    background-color: #ffffff;
  }
  .tituloPresCs {
    font-family: 'MontSerrat UltraLight', Arial, Sans-Serif;
    font-size: 30px;
    line-height: 45px;
	color: #cdb88e;
    
  }

  .tituloPresCs2 strong{
	font-weight: normal;
    color: #7e634e;
    font-family: 'MontSerrat UltraLight', Arial, Sans-Serif;
    font-size: 35px;
    line-height: 45px;
}
.tituloPresCs2{
    font-family: 'MontSerrat UltraLight', Arial, Sans-Serif;
    font-size: 35px;
    line-height: 45px;
	color: #cdb88e;

}
.csRow{
    padding: 8%;
}
.cardCs{
    color: #575757;
   
}
  ul {
    display: inline-block;
  }
  
  .textLi {
    text-align: start;
    
  }
  .buttonC{
    color:   #7E634E;
	text-transform: uppercase;

    background-color: #CCB892;
    display: inline-block;
    padding: 10px 10px;
    margin: 3%;
   
	
  }
  a  .buttonC{
    text-decoration: none;
  }
  .buttonC b {
    color:   #7E634E;
  }
 
  /* table---------------- */
  .containerTable{
    background-color: #fff5e381;
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0px 0px    ;
    padding: 3%;
   
  }
 

 
  /* gallery------------------------ */

.imgCs{
    width: 50%;
}


.col .colcS{
   flex: none !important;
}

.colcsImg{
    width: 350px;
    padding: 2%;
}



.textEnd{
     background-color: #fff5e381;
}




