.whatsapp {
    position: fixed;
    width: 45px;
    height: 45px;
    bottom: 40px;
    right: 40px;
    background-color:#7e634e;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 150;
  }
  
  .whatsapp-icon {
    /* margin-top: 13px; */
    z-index: 333;
  }
  
  img {
    pointer-events: none;
  }
  .whatsapp:hover{
    transform:scale(1.5);
    transition: all 0.3s ease-in-out 0s;
  }
