.logoNavbar {
  width: 100px;

}
.Navbar {

  position: fixed;
  z-index: 100;
  width: 100%;

  

}
.Navbar-bg {
  background-color: rgba(0, 0, 0, 0.856);
}

.Navbar-brand{
padding-left: 100px;
padding-right: 100px;

}

 .navlink {
 margin-left: 50px;
 margin-right: 50px;
 display: flex;
align-items:flex-end;
  color: rgb(221, 185, 102);
  font-family:  serif;
  padding-top: 0
}
.navbar-nav-scroll {
  max-height: var(--bs-scroll-height,75vh);
   overflow-y:visible; 
 
}

.navlink:hover{
  color: rgb(165, 163, 160);
}
.Navbar-bg {
  background-color: rgb(255, 255, 255);
  transition-duration: 1s;
  z-index: 1000;
}


@media  (Max-width: 991px) {
  
.navlink {
    padding-left: 5 !important;
    margin-left: 0;
  }
  .Navbar-brand {

   display: flex;
   justify-content: space-between;
  }
  .navbar-collapse {
    height: 140px;
  }
  .container-fluid {
    margin-top: 7px;
  }
  .New {
    display: none !important;
  }
}
