.logoNavbar {
  width: 120px;
 

 
}
 a.navbar-brand 
  {
    padding-right: 100px;
    padding-left: 100px;
}
 

.Navbar {
 
  
width: 100%;
  position: fixed;
  z-index: 100;

}
.navbar-bg {
  background-color: #f4eeee;
  transition-duration: 1s, 1s;
height: 95px;
}


 .navlink {
   display: flex !important;
  padding-right: 50px;
   align-items: flex-end !important;

  color: #ffe090;
  font-family: 'Orelega One', serif;
  font-size: 25px;

}
.navlink:hover{
  color: rgb(239, 248, 111);
}