

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Josefin+Sans:ital,wght@0,200;1,200;1,300&family=Roboto+Slab:wght@300&display=swap');

.ContainerC {
  display: flex;

  width: 100%;
  margin-top: 0;
  height: 700px;
  object-fit: scale-down;
}

.BtnText {
  justify-content: flex-start;
  flex-direction: column;
  width: 300px;
  margin-bottom: 15%;
}
.text {


  color: #7e634e;

  text-align: center;
}
.titleSlider {
  
  font-family: 'Roboto Slab', serif;
   
    line-height: 1;
}

.buttom {
  display: flex;
  justify-content: flex-start;
  color: rgba(255, 255, 255, 0.9) ;
  font-size: 15px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: #a8876c;
  border: 2px solid;
  border-color: #a8876c;
  border-radius: 30px;

  outline: none;
  transition: background-color 0.1s linear;
  padding: 12px 18px;
  margin-top: 30px;
  margin-left: 70px;
}
.buttom:hover{
 background-color: #7D4D4E;
		
      transform: translateZ(80px) scale(0.94);
      border-color: #7D4D4E;

 
      
}
.carousel-indicators {
  display: none;
}
@media (max-width: 991px) and (min-width: 0px) {
  .Carousel {
    height: 500px !important;
  }
}
@media (max-width: 600px) {
  .BtnText {
    display: none;
  }
  .Carousel {
    height: 400px !important;
    aspect-ratio: 4
    /4;
    object-fit: cover;
   
  }
}
@media (min-width: 747px) {
  .Carousel {
    width: 100%;
    object-fit: cover;
    height: 700px;
  }

  .ContainerC {
    height: 600px;
  }
}
@media (max-width: 600px) {
    .BtnText {
      display: none;
    }
    .Carousel {
      height: 400px !important;
      object-fit: cover;
   
    }
  }

  @media (max-width: 600px) and (min-width: 401px) {
    .Carousel {
     width: 100%;

    }
  }
  @media (max-width: 381px) {

    .Carousel {
      
    left: -16 !important;
    object-fit: cover;
    width: 100%;
     
    }}