* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden !important;
  font-family: 'MontSerrat UltraLight', Arial, Sans-Serif;

  /* font-size:25px; */
  
  line-height: 20px;
}

body::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #cdb88e;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color:  rgb(125, 77, 78) ;    /* color of the scroll thumb */
  border-radius: 30px;       /* roundness of the scroll thumb */
  border: 2px solid #cdb88e;  /* creates padding around scroll thumb */
}
#Contact {
  scroll-margin-block-start: 100px !important;
}
#Clinic {
  scroll-margin-block-start: -400px !important;
}
#Courses{
  scroll-margin-block-start: 100px !important;
}