@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,200&family=Noto+Sans+Ethiopic&display=swap");
.logoNavbar {
  width: 100px;

}
.Navbar {

  position: fixed;
  z-index: 100;
  width: 100%;
}
.Navbar-bg {
  background-color: rgba(0, 0, 0, 0.856);
}
.Navbar-brand{
padding-left: 100px;
padding-right: 100px;

}
 .navlink {
 margin-left: 50px;
 margin-right: 50px;
 display: flex;
align-items: center;
  color: white;
  font-family:  serif;
}
.navlink:hover{
  color: rgb(165, 163, 160);
}
.Carousel {
  width: 100%;
  margin-top: 0;
}
